* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #818698;
}

.todaySelect {
    box-shadow: 0 0 10px 5px #00ff6e;
    background-color: #8fb2b3;
    transform: scale(1.03);
}

.currentClassSelect {
    box-shadow: 0 0 10px 5px #ff0000;
    transform: scale(1.03);
}