.math {
    background-color: #4747ff;
}

.portuguese {
    background-color: #ff00c3;
}

.arts {
    background-color: #00ccff;
}

.geography {
    background-color: #a52a2a;
}

.sciences {
    background-color: #11ff00;
}

.interval {
    background-color: #719e9f;
}

.english {
    background-color: #ff0000;
}

.pe {
    background-color: #ffff00;
}

.history {
    background-color: #ffa500;
}

.religion {
    background-color: #dbdbdb;
}